.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    color: white;
    gap: 5px;
    text-align: center;
}

.caixa1 {
    grid-area: 1/ 1/ 2/ 5;
    background-color: burlywood;
}

.caixa2 {
    grid-row: 2 / 4;
    grid-column: 1 / span 2;
    background-color: darkred;
}

.caixa3 {
    grid-row: 2 / 4;
    grid-column: 3 / 5;
    background-color: darkblue;
}