@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

header {
    background-color: gray;
    color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.350);
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

h1 {
    flex: 0 0 200px;
}
nav {
    display: flex;
    justify-content: flex-end;
}

a {
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

a:hover {
    background-color: white;
    color: black;
    text-decoration: underline;
    transition: background-color 0.5s;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.350);
    padding: 10px;
    margin: 15px;
}

p {
    text-align: justify;
}

@media screen and (max-width: 600px) {
    header, nav {
        flex-flow: column nowrap;
    }
    h1 {
        flex-basis: 50px;
    }
    a {
        width: 90vw;
    }
}