@charset "utf-8";

div{
    border: 2px solid black;
    width: 300px;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
    background-color: lightgray;
}

div#q1 {
    background-color: lightskyblue;
}

div#q2 {
    background-image: linear-gradient(to bottom, lightskyblue, black);
}

div#3 {
    background-image: url('pattern001.png');
}
