@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

header, .normal {
    padding: 20px;
}

p, h1, h2 {
    margin-bottom: 10px;
    text-align: justify;
}

.flex {
    background-color: lightgray;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
}

.text-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

.text {
    flex: 1 1 500px;
}

.media {
    flex: 1 0 500px;
}

.media img {
    display: block;
    margin: auto;
}
