@charset "UTF-8";

/*------ Todas as midias ------*/

/* Typical Device Breakpoints

Pequenas telas: até 600px
Celular: 601px - 768px
Tablet: 769px - 992px
Desktop: 993px - 1200px
Grandes telas: acima de 1200px
*/

@media print {
    main h1 {
        font-family: 'Courier New', Courier, monospace;
    }

    #phone { display: none;}
#tablet { display: none;}
#print { display: block;}
#pc { display: none;}
#tv { display: none;}
}

@media screen and (min-width:768px) and (max-width: 992px) {
    body {
        background-image: url('../imagens/back-tablet.jpg');
    }

    #phone { display: none;}
    #tablet { display: block;}
    #print { display: none;}
    #pc { display: none;}
    #tv { display: none;}
}

@media screen and (min-width:992px) and (max-width: 1200px) {
    body {
        background-image: url('../imagens/back-pc.jpg');
    } 

    #phone { display: none;}
    #tablet { display: none;}
    #print { display: none;}
    #pc { display: block;}
    #tv { display: none;}
}

@media screen and (min-width:1200px)  {
    body {
        background-image: url('../imagens/back-tv.jpg');
    }

    #phone { display: none;}
    #tablet { display: none;}
    #print { display: none;}
    #pc { display: none;}
    #tv { display: block;}
}